/* type selectors */
article, aside, figure, footer, header, nav, section {
    display: block;
}
html {
    background-image: -moz-linear-gradient(top, white 0%, #facd8a 100%);
}
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: auto;
    background-color: white;
    margin: 15px auto;
    padding: 15px 25px;
}
section, aside, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}
section, aside {
    margin-top: 1.5em;
    margin-bottom: 1em;  
}

h1 { font-size: 175%; }
h2  { font-size: 125%; }

a { font-weight: bold; }
a:link { color: blue; }
a:visited { color: #009999; }
a.current { color: blue; }
a:hover, a:focus { color: blue; }

ul { 
    margin-left: 1.5em;
    margin-bottom: 1.5em; 
}
li { padding-bottom: 0.25em; }

p { padding-bottom: 0.5em; }
    
em { font-weight: bold; }

/* the styles for the header */
header { 
    padding-bottom: 2em;
    border-bottom: 2px solid #006600;
}
header h1 {
    color: black;
    margin-left: 120px;
    margin-bottom: 0.25em;
    text-align: center;
}
header h2 {
    color: black;
    margin-left: 120px;
    text-align: center;
}
header img { 
    float: none;
    margin: 0 auto; 
    display:block;
}

/* the styles for the top navigation bar */
#nav_bar {
    clear: left;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #006600;
    text-align: right;
}
#nav_bar ul {
    margin-bottom: .5em;
    list-style: none;
    padding-top: .5em;
}
#nav_bar li {
    display: inline;
    padding: 0 1.5em;
    border-left: 2px solid black;
}

.inline {
    display:inline;
}

/* the styles for the section */
section {
    width: auto;
    padding-right: 20px;
    padding-left: 20px;
    float: none;    
}
section h1 {
    margin-bottom: 0.35em; 
}
section h2 {
    margin-bottom: 0.35em;
    width: auto;
}

section p {
    width: 70%;
}
.top_margin {
    margin-top: 1em;
}

/* product */
section img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}
.clear_both {
    clear: both;
}

/* email list */
section label {
    float: left;
    width: 8em;
    margin-bottom: 0.5em;
    font-weight: bold;
    padding-top: 0.25em;    
}
section input[type="text"], input[type="email"], input[type="password"] {
    width: 12em;
    margin-left: 0.5em;    
    margin-bottom: 0.5em;
}
section input[type="submit"] {
    margin-left: 0.5em;
}
br {
    clear: both;
}
#submit {
    margin-left: 0.5em;
}


#required {
    margin-left: 8.5em;
    margin-bottom: .5em;
}
.required {
    color: red;
    margin-bottom: 0;
}
#quantity_text {
    width: 2em;
}
#float_left {
    float: left;
    margin-right: 1em;
}
.message {
    margin-top: .5em;
    font-weight: bold;
    color: red;
}

/* the styles for the footer */
footer {
    clear: both;
    margin-top: 1em;
    border-top: 2px solid #006600;
    padding-top: 0.7em;
}
footer p {
    font-size: 80%;
    text-align: right;
}

/* The styles for the classes */
.pad_top {
    padding-top: 0.25em;
}
.no_pad_top {
    padding-top: 0;
}
.margin_left {
    margin-left: 0.5em;
}
.no_underline {
    text-decoration:none;
}

.resp_note{
    margin-top: .5em;
    font-weight: bold;
    color: red;
}